.badge {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: .3rem .5rem;
  border-radius: 50rem;
  border: 1px solid transparent;
  font-size: 0.75rem;
  font-weight: 700;
  line-height: 1;
  white-space: nowrap;

  &--primary {
    background-color: rgb(var(--color-primary) / 0.14);
    border-color: rgb(var(--color-primary) / 0.3);
    color: rgb(var(--color-primary));
  }

  &--secondary {
    background-color: rgb(var(--color-secondary) / 0.14);
    border-color: rgb(var(--color-secondary) / 0.3);
    color: rgb(var(--color-secondary));
  }

  &--danger {
    background-color: rgb(var(--color-danger) / 0.14);
    border-color: rgb(var(--color-danger) / 0.3);
    color: rgb(var(--color-danger));
  }

  &--success {
    background-color: rgb(var(--color-success) / 0.14);
    border-color: rgb(var(--color-success) / 0.3);
    color: rgb(var(--color-success));
  }

  &--warning {
    background-color: rgb(var(--color-warning) / 0.14);
    border-color: rgb(var(--color-warning) / 0.3);
    color: rgb(var(--color-warning));
  }

  &--info {
    background-color: rgb(var(--color-info) / 0.14);
    border-color: rgb(var(--color-info) / 0.3);
    color: rgb(var(--color-info));
  }

  &--blue {
    background-color: rgb(var(--color-blue) / 0.14);
    border-color: rgb(var(--color-blue) / 0.3);
    color: rgb(var(--color-blue));
  }

  &--indigo {
    background-color: rgb(var(--color-indigo) / 0.14);
    border-color: rgb(var(--color-indigo) / 0.3);
    color: rgb(var(--color-indigo));
  }

  &--purple {
    background-color: rgb(var(--color-purple) / 0.14);
    border-color: rgb(var(--color-purple) / 0.3);
    color: rgb(var(--color-purple));
  }

  &--pink {
    background-color: rgb(var(--color-pink) / 0.14);
    border-color: rgb(var(--color-pink) / 0.3);
    color: rgb(var(--color-pink));
  }

  &--orange {
    background-color: rgb(var(--color-orange) / 0.14);
    border-color: rgb(var(--color-orange) / 0.3);
    color: rgb(var(--color-orange));
  }

  &--yellow {
    background-color: rgb(var(--color-yellow) / 0.14);
    border-color: rgb(var(--color-yellow) / 0.3);
    color: rgb(var(--color-yellow));
  }

  &--teal {
    background-color: rgb(var(--color-teal) / 0.14);
    border-color: rgb(var(--color-teal) / 0.3);
    color: rgb(var(--color-teal));
  }

  &--cyan {
    background-color: rgb(var(--color-cyan) / 0.14);
    border-color: rgb(var(--color-cyan) / 0.3);
    color: rgb(var(--color-cyan));
  }

  &--gray {
    background-color: rgb(var(--color-gray) / 0.14);
    border-color: rgb(var(--color-gray) / 0.3);
    color: rgb(var(--color-gray));
  }

  &--dark {
    background-color: rgb(var(--color-dark) / 0.14);
    border-color: rgb(var(--color-dark) / 0.3);
    color: rgb(var(--color-dark));
  }

  &--ghost {
    background-color: rgb(var(--color-light));
    border-color: rgb(var(--color-neutral));
    color: rgb(var(--color-dark));
  }
}
